<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.toy.mapper.SysLogMapper">
    <resultMap id="BaseResultMap" type="com.lz.toy.entity.SysLog">
        <id column="id" property="id" />
        <result column="user_name" property="user_name" />
        <result column="title" property="title" />
        <result column="url" property="url" />
        <result column="params" property="params" />
        <result column="create_time" property="create_time" />
        <result column="startDate" property="startDate" />
        <result column="endDate" property="endDate" />
    </resultMap>

    <select id="selectLogList"   resultMap="BaseResultMap" parameterType="java.util.HashMap">

        select l.id,l.user_name userName,l.title,l.url,l.params,l.create_time createTime from sys_log l where 1=1
        <if test="startDate != null and startDate != ''">
            AND l.create_time &gt;= #{startDate,jdbcType=VARCHAR}
        </if>
        <if test="endDate != null and endDate != ''">
            AND l.create_time &lt;= #{endDate,jdbcType=VARCHAR}
        </if>
        <if test="title != null and title != ''">
            AND l.title LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
        </if>
    </select>


</mapper>